In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("F:/Data Science and Machine Learning/googleplaystore.csv")

In [3]:
df.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

In [4]:
df.shape

(10841, 13)

In [5]:
df.isna().sum()

App                  0
Category             0
Rating            1474
Reviews              0
Size                 0
Installs             0
Type                 1
Price                0
Content Rating       1
Genres               0
Last Updated         0
Current Ver          8
Android Ver          3
dtype: int64

In [6]:
df.columns

Index(['App', 'Category', 'Rating', 'Reviews', 'Size', 'Installs', 'Type',
       'Price', 'Content Rating', 'Genres', 'Last Updated', 'Current Ver',
       'Android Ver'],
      dtype='object')

In [7]:
df=df[['Category', 'Rating', 'Reviews', 'Size', 'Installs', 'Type','Price', 'Content Rating']]

In [8]:
df.head()

,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating
0,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone
1,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone
2,ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone
3,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen
4,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone

In [9]:
df['Category'].value_counts()

FAMILY                 1972
GAME                   1144
TOOLS                   843
MEDICAL                 463
BUSINESS                460
PRODUCTIVITY            424
PERSONALIZATION         392
COMMUNICATION           387
SPORTS                  384
LIFESTYLE               382
FINANCE                 366
HEALTH_AND_FITNESS      341
PHOTOGRAPHY             335
SOCIAL                  295
NEWS_AND_MAGAZINES      283
SHOPPING                260
TRAVEL_AND_LOCAL        258
DATING                  234
BOOKS_AND_REFERENCE     231
VIDEO_PLAYERS           175
EDUCATION               156
ENTERTAINMENT           149
MAPS_AND_NAVIGATION     137
FOOD_AND_DRINK          127
HOUSE_AND_HOME           88
LIBRARIES_AND_DEMO       85
AUTO_AND_VEHICLES        85
WEATHER                  82
ART_AND_DESIGN           65
EVENTS                   64
PARENTING                60
COMICS                   60
BEAUTY                   53
1.9                       1
Name: Category, dtype: int64

In [10]:
df['Category'][df['Category']=='1.9']

10472    1.9
Name: Category, dtype: object

In [11]:
df.iloc[10472]

Category               1.9
Rating                  19
Reviews               3.0M
Size                1,000+
Installs              Free
Type                     0
Price             Everyone
Content Rating         NaN
Name: 10472, dtype: object

In [12]:
df.drop([10472],inplace=True,axis=0)

In [13]:
df.iloc[10460:10475].head()

      Category  Rating Reviews  Size  Installs  Type  Price Content Rating
10460    TOOLS     4.5     142   26k    5,000+  Paid  $1.00       Everyone
10461    TOOLS     4.1     479   29k   50,000+  Free      0       Everyone
10462    TOOLS     4.5    3673  5.8M  500,000+  Free      0       Everyone
10463   FAMILY     3.7      39  2.8M    5,000+  Free      0       Everyone
10464   FAMILY     2.9     691  5.8M  100,000+  Free      0       Everyone

In [14]:
df.dtypes

Category           object
Rating            float64
Reviews            object
Size               object
Installs           object
Type               object
Price              object
Content Rating     object
dtype: object

In [15]:
df['Rating'].isna().sum()

1474

In [16]:
df['Rating'].mode()

0    4.4
dtype: float64

In [17]:
df['Rating'].median()

4.3

In [18]:
df['Rating'].fillna(df['Rating'].median(),inplace=True)

In [19]:
df['Rating'].isna().sum()

0

In [20]:
df['Reviews'].dtype

dtype('O')

In [21]:
df['Reviews']=df['Reviews'].apply(lambda x:int(x))

In [22]:
df['Reviews'].dtype

dtype('int64')

In [23]:
df.iloc[10460:10475].head()

      Category  Rating  Reviews  Size  Installs  Type  Price Content Rating
10460    TOOLS     4.5      142   26k    5,000+  Paid  $1.00       Everyone
10461    TOOLS     4.1      479   29k   50,000+  Free      0       Everyone
10462    TOOLS     4.5     3673  5.8M  500,000+  Free      0       Everyone
10463   FAMILY     3.7       39  2.8M    5,000+  Free      0       Everyone
10464   FAMILY     2.9      691  5.8M  100,000+  Free      0       Everyone

In [24]:
df['Size'].dtype

dtype('O')

In [25]:
df['Size']=df['Size'].apply(lambda x: x[:-1])

In [26]:
df['Size'].head()

0     19
1     14
2    8.7
3     25
4    2.8
Name: Size, dtype: object

In [27]:
# df['Size']=df['Size'].apply(lambda x : float(x))

In [28]:
df['Size'][df['Size']=='Varies with devic'].count()

1695

In [29]:
df['Size']=df['Size'].replace('Varies with devic','0.0')

In [30]:
df['Size'][df['Size']=='Varies with devic'].count()

0

In [31]:
df['Size']=df['Size'].apply(lambda x : float(x))

In [32]:
df['Size'].tail(10)

10831      9.8
10832    582.0
10833    619.0
10834      2.6
10835      9.6
10836     53.0
10837      3.6
10838      9.5
10839      0.0
10840     19.0
Name: Size, dtype: float64

In [33]:
df['Size'][df['Size']==0].count()

1695

In [34]:
for i in df['Size']:
    if i==0.0:
        df['Size']=df['Size'].median()

In [35]:
df['Size'][df['Size']==0].count()

0

In [36]:
df['Installs'].head()

0        10,000+
1       500,000+
2     5,000,000+
3    50,000,000+
4       100,000+
Name: Installs, dtype: object

In [37]:
df['Installs']=df['Installs'].apply(lambda x :x[:-1])

In [38]:
df['Installs'].head()

0        10,000
1       500,000
2     5,000,000
3    50,000,000
4       100,000
Name: Installs, dtype: object

In [39]:
for i in df['Installs']:
    if ',' in i:
        i=i.replace(',','')

In [40]:
df['Installs']=df['Installs'].apply(lambda i:i.replace(',',''))

In [41]:
df['Installs'].head()

0       10000
1      500000
2     5000000
3    50000000
4      100000
Name: Installs, dtype: object

In [42]:
# df['Installs']=df['Installs'].apply(lambda i:int(i))

In [43]:
df['Installs'].dtype

dtype('O')

In [44]:
df.head()

         Category  Rating  Reviews  Size  Installs  Type Price Content Rating
0  ART_AND_DESIGN     4.1      159  10.0     10000  Free     0       Everyone
1  ART_AND_DESIGN     3.9      967  10.0    500000  Free     0       Everyone
2  ART_AND_DESIGN     4.7    87510  10.0   5000000  Free     0       Everyone
3  ART_AND_DESIGN     4.5   215644  10.0  50000000  Free     0           Teen
4  ART_AND_DESIGN     4.3      967  10.0    100000  Free     0       Everyone

In [45]:
df['Type'].value_counts()
df['Installs'].dtype

dtype('O')

In [46]:
for i in df['Type']:
    if i=='Free':
        df['Type']=df['Type'].replace("Free",'0')
    elif i=="Paid":
        df['Type']=df['Type'].replace("Paid",'1')

In [47]:
df['Type'].value_counts()

0    10039
1      800
Name: Type, dtype: int64

In [48]:
df.head()

         Category  Rating  Reviews  Size  Installs Type Price Content Rating
0  ART_AND_DESIGN     4.1      159  10.0     10000    0     0       Everyone
1  ART_AND_DESIGN     3.9      967  10.0    500000    0     0       Everyone
2  ART_AND_DESIGN     4.7    87510  10.0   5000000    0     0       Everyone
3  ART_AND_DESIGN     4.5   215644  10.0  50000000    0     0           Teen
4  ART_AND_DESIGN     4.3      967  10.0    100000    0     0       Everyone

In [49]:
df['Type'].dtype

dtype('O')

In [50]:
df[df['Type'].isnull()]

     Category  Rating  Reviews  Size Installs Type Price Content Rating
9148   FAMILY     4.3        0  10.0           NaN     0   Everyone 10+

In [51]:
df['Type'].isna().sum()

1

In [52]:
df['Type'].median()

0.0

In [53]:
df['Type'].fillna(df['Type'].median(),inplace=True)

In [54]:
df['Type'].isna().sum()

0

In [55]:
df['Type']=df['Type'].apply(lambda i : int(i))

In [56]:
df['Type'].dtype

dtype('int64')

In [57]:
df.head()

         Category  Rating  Reviews  Size  Installs  Type Price Content Rating
0  ART_AND_DESIGN     4.1      159  10.0     10000     0     0       Everyone
1  ART_AND_DESIGN     3.9      967  10.0    500000     0     0       Everyone
2  ART_AND_DESIGN     4.7    87510  10.0   5000000     0     0       Everyone
3  ART_AND_DESIGN     4.5   215644  10.0  50000000     0     0           Teen
4  ART_AND_DESIGN     4.3      967  10.0    100000     0     0       Everyone

In [58]:
df['Price'].value_counts()

0          10040
$0.99        148
$2.99        129
$1.99         73
$4.99         72
           ...
$1.26          1
$3.61          1
$14.00         1
$4.77          1
$394.99        1
Name: Price, Length: 92, dtype: int64

In [59]:
df['Price'].dtype

dtype('O')

In [60]:
df['Price'].isna().sum()

0

In [61]:
for i in df['Price']:
    
    if isinstance(i,str):
        i=i.replace('$','')
#         print(i)

In [62]:
df['Price']=df['Price'].apply(lambda i: i.replace('$','') if isinstance(i, str) else i)

In [63]:
df['Price'].value_counts()

0        10040
0.99       148
2.99       129
1.99        73
4.99        72
         ...
89.99        1
14.00        1
2.60         1
1.50         1
15.46        1
Name: Price, Length: 92, dtype: int64

In [64]:
df['Price']=df['Price'].apply(lambda x:float(x))

In [65]:
df['Price'].dtype

dtype('float64')

In [66]:
df.head()

         Category  Rating  Reviews  Size  Installs  Type  Price Content Rating
0  ART_AND_DESIGN     4.1      159  10.0     10000     0    0.0       Everyone
1  ART_AND_DESIGN     3.9      967  10.0    500000     0    0.0       Everyone
2  ART_AND_DESIGN     4.7    87510  10.0   5000000     0    0.0       Everyone
3  ART_AND_DESIGN     4.5   215644  10.0  50000000     0    0.0           Teen
4  ART_AND_DESIGN     4.3      967  10.0    100000     0    0.0       Everyone

In [67]:
df['Content Rating'].value_counts()

Everyone           8714
Teen               1208
Mature 17+          499
Everyone 10+        414
Adults only 18+       3
Unrated               2
Name: Content Rating, dtype: int64

In [68]:
df['Content Rating'].isna().sum()

0

In [69]:
df['Content Rating'].dtype

dtype('O')

In [70]:
df['Content Rating'][df['Content Rating']==0].count()

0

In [71]:
# for i in df['Content Rating']:
#     if i=="Everyone":
#         i.replace('Everyone','0')
#     elif i=="Teen":
#         i.replace('Teen','1')
#     elif i=='Mature 17+':
#         i.replace('Mature 17+','2')
#     elif i=='Everyone 10+':
#         i.replace('Everyone 10+','3')
#     elif i=='Adults only 18+':
#         i.replace('Adults only 18+','4')
#     else:
#         i.replace('Unrated ','5')

In [72]:
# df['Content Rating']=df['Content Rating'].apply(lambda i: i.replace('Everyone','0') if (i=="Everyone"))
df['Content Rating']=df['Content Rating'].apply(lambda i: i.replace('Everyone','0') if i in 'Everyone' else i)
df['Content Rating']=df['Content Rating'].apply(lambda i: i.replace('Teen','1') if i in 'Teen' else i)
df['Content Rating']=df['Content Rating'].apply(lambda i: i.replace('Mature 17+','2') if i in 'Mature 17+' else i)
df['Content Rating']=df['Content Rating'].apply(lambda i: i.replace('Everyone 10+','3') if i in 'Everyone 10+' else i)
df['Content Rating']=df['Content Rating'].apply(lambda i: i.replace('Adults only 18+','4') if i in 'Adults only 18+' else i)
df['Content Rating']=df['Content Rating'].apply(lambda i: i.replace('Unrated','5') if i in 'Unrated' else i)

In [73]:
df['Content Rating'].value_counts()

0    8714
1    1208
2     499
3     414
4       3
5       2
Name: Content Rating, dtype: int64

In [74]:
df.head()

         Category  Rating  Reviews  Size  Installs  Type  Price Content Rating
0  ART_AND_DESIGN     4.1      159  10.0     10000     0    0.0              0
1  ART_AND_DESIGN     3.9      967  10.0    500000     0    0.0              0
2  ART_AND_DESIGN     4.7    87510  10.0   5000000     0    0.0              0
3  ART_AND_DESIGN     4.5   215644  10.0  50000000     0    0.0              1
4  ART_AND_DESIGN     4.3      967  10.0    100000     0    0.0              0

In [75]:
df['Content Rating'].dtype

dtype('O')

In [76]:
df['Content Rating']=df['Content Rating'].apply(lambda x:int(x))

In [77]:
df['Content Rating'].dtype

dtype('int64')

In [78]:
df.head()

,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating
0,ART_AND_DESIGN,4.1,159,10.0,10000,0,0.0,0
1,ART_AND_DESIGN,3.9,967,10.0,500000,0,0.0,0
2,ART_AND_DESIGN,4.7,87510,10.0,5000000,0,0.0,0
3,ART_AND_DESIGN,4.5,215644,10.0,50000000,0,0.0,1
4,ART_AND_DESIGN,4.3,967,10.0,100000,0,0.0,0